
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand a1" href="#"> Баерн Бел Сервис </a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Авто
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/typeAuto">Марка/модель</a>
              <a class="dropdown-item" href="/auto">Авто в разборе</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Подкапотное и работа двигателя
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/dvigatel">Двигатель и запчасти</a>
              <a class="dropdown-item" href="/toplivnayaSistema">Топливная система</a>
              <a class="dropdown-item" href="/sistemaOhlajdeniya">Система охлаждения</a>
              <a class="dropdown-item" href="/otoplenieKondei">Отопление и кондиционер</a>
              <a class="dropdown-item" href="/korpusaPatrubki">Бочки, курпуса, патрубки</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Кузов
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/kuzovnieDetali">Кузовные детали</a>
              <a class="dropdown-item" href="/osnaschKuzova">Оснащение кузова</a>
              <a class="dropdown-item" href="/elektrika">Электрика</a>
              <a class="dropdown-item" href="/osvetPribory">Осветительные приборы</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Шасси
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/kpp">КПП</a>
              <a class="dropdown-item" href="/transmissiya">Трансмиссия</a>
              <a class="dropdown-item" href="/rulevoeUpravlenie">Рулевое управление</a>
              <a class="dropdown-item" href="/podveska">Подвеска</a>
              <a class="dropdown-item" href="/tormoza">Тормоза</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Другое
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/kolesaDiski">Шины и диски</a>
              <a class="dropdown-item" href="/dopTovari">Сопутствующие товары</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ведение базы
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/polzovatel">Пользователи</a>
              <a class="dropdown-item" href="/jurnal">Журнал</a>
            </div>
          </li>

      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#authModal"> Авторизация </button>
          </li>
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registrModal"> Регистрация </button>
          </li>
      </ul>
  </div>
</nav>


<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Логин:</label>
                  <input type="text" [(ngModel)] = "authLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Пароль:</label>
                    <input type="password" [(ngModel)] = "authPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-primary" (click) = "auth()">Ввод</button>
            </div>
          </div>
        </div>
      </div>


<div class="modal fade" id="registrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Логин:</label>
                  <input type="text" [(ngModel)] = "regLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Пароль:</label>
                  <input type="password" [(ngModel)] = "regPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
                <div class="form-group">
                  <label class="col-form-label">Повторите пароль:</label>
                  <input type="password" [(ngModel)] = "regRepPass" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-primary" (click) = "registr()">Ввод</button>
            </div>
          </div>
        </div>
      </div>

