li{
    margin-left: 15px;
}

.a1{
    color: blue;
    white-space: nowrap;
    font-size: 21px;
    font-family: 'Marker Felt', fantasy;
    font-weight: 900;
    margin-right: 30px;
    margin-left: -10px;
}