
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <button type="button" class="btn btn-dark a1" (click) = "routeToMainPage()"> Баерн Бел Сервис </button>
    
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Авто
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click) = "routeToTypeAuto()">Марка, модель</a>
              <a class="dropdown-item" (click) = "routeToAuto()">Авто в разборе</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Подкапотное и работа двигателя
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click) = "routeToTypeDvigatel()">Двигатель и запчасти</a>
              <a class="dropdown-item" (click) = "routeToToplivnayaSistema()">Топливная система</a>
              <a class="dropdown-item" (click) = "routeToSistemaOhlajdeniya()">Система охлаждения</a>
              <a class="dropdown-item" (click) = "routeToOtoplenieKondei()">Отопление и кондиционер</a>
              <a class="dropdown-item" (click) = "routeToKorpusaPatrubki()">Бочки, курпуса, патрубки</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Кузов
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click) = "routeToKuzovnieDetali()">Кузовные детали</a>
              <a class="dropdown-item" (click) = "routeToOsnaschKuzova()">Оснащение кузова</a>
              <a class="dropdown-item" (click) = "routeToElektrika()">Электрика</a>
              <a class="dropdown-item" (click) = "routeToOsvetPribory()">Осветительные приборы</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Шасси
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click) = "routeToKpp()">КПП</a>
              <a class="dropdown-item" (click) = "routeToTransmissiya()">Трансмиссия</a>
              <a class="dropdown-item" (click) = "routeToRulevoeUpravlenie()">Рулевое управление</a>
              <a class="dropdown-item" (click) = "routeToPodveska()">Подвеска</a>
              <a class="dropdown-item" (click) = "routeToTormoza()">Тормоза</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Другое
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click) = "routeToKolesaDiski()">Шины и диски</a>
              <a class="dropdown-item" (click) = "routeToDopTovari()">Сопутствующие товары</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ведение базы
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click) = "routeToPolzovatel()">Пользователи</a>
              <a class="dropdown-item" (click) = "routeToJurnal()">Журнал</a>
            </div>
          </li>

      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#authModal"> Авторизация </button>
          </li>
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registrModal"> Регистрация </button>
          </li>
      </ul>
  </div>
</nav>


<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Логин:</label>
                  <input type="text" [(ngModel)] = "authLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Пароль:</label>
                    <input type="password" [(ngModel)] = "authPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-primary" (click) = "auth()">Ввод</button>
            </div>
          </div>
        </div>
      </div>


<div class="modal fade" id="registrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Логин:</label>
                  <input type="text" [(ngModel)] = "regLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Пароль:</label>
                  <input type="password" [(ngModel)] = "regPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
                <div class="form-group">
                  <label class="col-form-label">Ключ регистрации:</label>
                  <input type="password" [(ngModel)] = "keyPass" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-primary" (click) = "registr()">Ввод</button>
            </div>
          </div>
        </div>
      </div>

