
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <b class="navbar-brand a1" href="#">Баерн Бел Сервис</b>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/work">Bank</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/resume">Resume</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Авто
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Марка/модель</a>
                <a class="dropdown-item" href="#">Авто в разборе</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Подкапотное и работа двигателя
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Двигатель и запчасти</a>
                  <a class="dropdown-item" href="#">Топливная система</a>
                  <a class="dropdown-item" href="#">Система охлаждения</a>
                  <a class="dropdown-item" href="#">Отопление и кондиционер</a>
                  <a class="dropdown-item" href="#">Бочки, курпуса, патрубки</a>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Кузов
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Кузовные детали</a>
                  <a class="dropdown-item" href="#">Оснащение кузова</a>
                  <a class="dropdown-item" href="#">Электрика</a>
                  <a class="dropdown-item" href="#">Осветительные приборы</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Шасси
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">КПП</a>
                    <a class="dropdown-item" href="#">Трансмиссия</a>
                    <a class="dropdown-item" href="#">Рулевое управление</a>
                    <a class="dropdown-item" href="#">Подвеска</a>
                    <a class="dropdown-item" href="#">Тормоза</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Другое
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Шины и диски</a>
                      <a class="dropdown-item" href="#">Сопутствующие товары</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ведение базы
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Пользователи</a>
                        <a class="dropdown-item" href="#">Журнал</a>
                      </div>
                    </li>
      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#authModal"> Authorization </button>
          </li>
          <li class="nav-item">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registrModal"> Rigistration </button>
          </li>
      </ul>
  </div>
</nav>


<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Authorization</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Login:</label>
                  <input type="text" [(ngModel)] = "authLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Password:</label>
                    <input type="password" [(ngModel)] = "authPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click) = "auth()">Enter</button>
            </div>
          </div>
        </div>
      </div>


<div class="modal fade" id="registrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">Login:</label>
                  <input type="text" [(ngModel)] = "regLog" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Password:</label>
                  <input type="password" [(ngModel)] = "regPass" [ngModelOptions]="{standalone: true}" class="form-control">
                  </div>
                <div class="form-group">
                  <label class="col-form-label">Repeat password:</label>
                  <input type="password" [(ngModel)] = "regRepPass" [ngModelOptions]="{standalone: true}" class="form-control">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click) = "registr()">Enter</button>
            </div>
          </div>
        </div>
      </div>

