<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="margin-top:-48px">

    <div style="background-color: #1c2331">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Юридическая информация</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> 
            <p style="font-size: 12px"> Юридическое лицо ИЧПТУП "БаернБелСервис" </p>
            <p style="font-size: 12px"> Беларусь Минский район, д.Острашицкий Городок, ул. Ленинская ,д.49 </p>
            <p style="font-size: 12px"> Реестр: №000000016388 от 12.05.2015 </p>
            <p style="font-size: 12px"> ЕГР: 690363761, УНП: 690363761 </p>
            <p style="font-size: 12px"> Минский облисполком от 04.11.2005 </p>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Услуги</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p style="font-size: 14px"> Продажа Б/У запчастей </p>
            <p style="font-size: 14px"> Ремонт, восстановление паркета </p>
            <p style="font-size: 14px"> Кладка печей и каминов </p>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Время работы</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p style="font-size: 12px">
            Понедельник	10:00 — 18:00
            Вторник	10:00 — 18:00
            Среда	10:00 — 18:00
            Четверг	10:00 — 18:00
            Пятница	10:00 — 18:00
            Суббота	10:00 — 15:00
            Воскресенье	10:00 — 15:00 </p>  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Контакты</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p style="font-size: 14px"> д. Острашицкий Городок ул.Ленинская 49 </p>
            <p style="font-size: 14px"> +375 29 667-62-06 </p>
            <p style="font-size: 14px"> kvalitet4@yandex.by </p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    </div>

    <div style="background-color: #212529; font-size: 19px">
    <!-- Copyright -->

        <div class="a1 footer-copyright text-center py-3">
            <a> BaernBelService | kvalitet.by </a>
        </div>

    <!-- Copyright -->
    </div>
  
</footer>
<!-- Footer -->