
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="margin-top:-48px;">

    <div style="background-color: #1c2331">
        <div class="container text-center text-md-center mt-5">
        </div>
    </div>

    <div class="a1">

        <div id = "left"style="background-color: #212529;">
            <p style="font-size: 18px; margin-left: 20px;"> Оставь заявку и кто-нибудь откликнется. Помогли тебе - помоги другим. </p>
        </div>
        
        <div id = "right"style="background-color: #212529;">
            <a style="font-size: 20px; margin-right: 20px;"> | Developed by <a style="color: #c3c5c9;"> <label data-toggle="tooltip" data-placement="top" title="With LOVE ❤ ">Vladislav Birkos</label></a></a>
        </div>

    </div>

</footer>
<!-- Footer -->
