a{
   color: #c3c5c9;
}

p{
   color: #c3c5c9;
}

.a1{
   color: blue;
}

#right {
   margin: auto auto;
   float: right;
   text-align: right;
   width: 50%;
   height: 44px;
}

#left {
   margin: auto auto;
   float: left;
   width: 50%;
   height: 44px;
}
