
<div>
  Polzovatel: {{ polzovatel }}.  press on zapis to update delete 

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="updateRadio" value="update">
    <label class="form-check-label" for="updateRadio">updateRadio</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="deleteRadio" value="delete" checked>
    <label class="form-check-label" for="deleteRadio">deleteRadio</label>
  </div>

  <button type="button" class="btn btn-primary" (click) = "clearData()" data-toggle="modal" data-target="#addModal"> add auto </button>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add auto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">win:</label>
            <input type="text" [(ngModel)] = "win" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
              <label class="col-form-label">toplivo:</label>
              <input type="text" [(ngModel)] = "toplivo" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">privod:</label>
            <input type="text" [(ngModel)] = "privod" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">probeg:</label>
            <input type="text" [(ngModel)] = "probeg" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">cvet:</label>
            <input type="text" [(ngModel)] = "cvet" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">dopComment:</label>
            <input type="text" [(ngModel)] = "dopComment" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click) = "addAuto()">Enter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update auto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">id:</label>
            <label class="col-form-label">{{ id_auto }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">win:</label>
            <input type="text" [(ngModel)] = "win" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">toplivo:</label>
            <input type="text" [(ngModel)] = "toplivo" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">privod:</label>
            <input type="text" [(ngModel)] = "privod" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">probeg:</label>
            <input type="text" [(ngModel)] = "probeg" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">cvet:</label>
            <input type="text" [(ngModel)] = "cvet" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">dopComment:</label>
            <input type="text" [(ngModel)] = "dopComment" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click) = "updateAuto()">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete auto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">id:</label>
            <label class="col-form-label">{{ id_auto }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">win:</label>
            <label class="col-form-label">{{ win }}</label>
          </div>
          <div class="form-group">
              <label class="col-form-label">toplivo:</label>
              <label class="col-form-label">{{ toplivo }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">privod:</label>
            <label class="col-form-label">{{ privod }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">probeg:</label>
            <label class="col-form-label">{{ probeg }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">cvet:</label>
            <label class="col-form-label">{{ cvet }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">dopComment:</label>
            <label class="col-form-label">{{ dopComment }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click) = "deleteAuto()">Delete</button>
      </div>
    </div>
  </div>
</div>

<table datatable id="autoTable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="word-break: break-all;">
  <thead>
    <tr>
      <th>id_auto</th>
      <th>win</th>
      <th>toplivo</th>
      <th>privod</th>
      <th>probeg</th>
      <th>cvet</th>
      <th>dopComment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Auto of autos">
      <td>{{ Auto.id_auto }}</td>
      <td>{{ Auto.win }}</td>
      <td>{{ Auto.toplivo }}</td>
      <td>{{ Auto.privod }}</td>
      <td>{{ Auto.probeg }}</td>
      <td>{{ Auto.cvet }}</td>
      <td>{{ Auto.dopComment }}</td>
    </tr>
  </tbody>
</table>