#body {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

h4{
    color: black;
}

#YMapsID {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 400px;
}