<div id="body" class="bd-example">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 450px;">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="../../assets/car.jpg" class="d-block w-100" alt="car">
        <div class="carousel-caption d-none d-md-block" style="font-size: 26px; color:rgb(4, 0, 255); text-decoration: underline;">
          <p><b> Подкури бедолагу </b></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/beer2.jpg" class="d-block w-100" alt="beer">
        <div class="carousel-caption d-none d-md-block" style="font-size: 26px; color:rgb(255, 0, 0); text-decoration: underline;">
          <b> Найди собутыльника </b>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/game.jpg" class="d-block w-100" alt="game">
        <div class="carousel-caption d-none d-md-block" style="font-size: 26px; color:rgb(30, 255, 0); text-decoration: underline;">
          <p><b> С кем на районе сыграть в дотан? </b></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/sigar.jpg" class="d-block w-100" alt="sigar">
        <div class="carousel-caption d-none d-md-block" style="font-size: 26px; color:rgb(16, 23, 160); text-decoration: underline;">
          <p><b> Попроси соседа купить сижек </b></p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="../../assets/all.jpg" class="d-block w-100" alt="all">
        <div class="carousel-caption d-none d-md-block" style="font-size: 26px; color:rgb(236, 22, 104); text-decoration: underline;">
          <p><b> Построим мир на взаимопомощи </b></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Вперед</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Назад</span>
    </a>
  </div>
</div>


<div class="jumbotron jumbotron-fluid" style="max-width: 100%; max-height: 470px; margin-top: -50px;">
  <div class="container">
    <h3 class="display-4">Помощь рядом!</h3>
    <p class="lead">
      
            Идея dw0774 Helper состоит в том, что при необходимости можно оставить заявку на какую-либо помощь, урегулировать  вознаграждение.
            Заявка существует некоторое время. Другие пользователи могут откликнуться на Ваш зов. Помогли тебе - помоги другим. <br>
            <br>
            dw0774 Helper - переход на главную страницу. <br>
            Оставь заявку - переход к странице оформления заявки (только для зарегистрированных пользователей). <br>
            Помоги другому - переход к странице с заявками других пользователей. <br>
            "Не в системе" / "Ваш логин" - настройка профиля. <br>
            Контакты - связь с разработчиком.
          
    </p>
  </div>
</div>


<div class="accordion" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Шаг #1. Регистрация, авторизация
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          - Чтобы оставить заявку необходимо зарегистрироваться и авторизоваться. <br>
          - Просмотр чужих заявок доступен без авторизации. <br>
          - При регистрации обязательно заполните поля по подсказкам. Инструкции красного цвета исчезнут если их условия были выполнены. Решите легкий пример чтобы доказать что Вы не робот. <br>
          - Авторизуйтесь и настройте свой профиль нажав на Ваш логин вверху сайта.
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Шаг #2. Ваша просьба
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        - Если Вам нужно составить просьбу о помощи переходите на страницу "Оставь заявку". <br>
        - Заполните поля по подсказкам. Чем точнее и яснее заполнены поля, тем легче другим придти к Вам на помощь. 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Шаг #3. Принести пользу другим
        </button>
      </h5>
    </div>    
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        - Оказывайте поддержку другим. <br>
        - Не рассчитывайте на большое вознаграждение. Поддерживайте политику альтруизма.
      </div>
    </div>
  </div>

</div>

<br>

<div style="margin-left: 28%; color:#343a40">
  <h3>Перед хорошими людьми открыт весь мир!</h3>
</div>

<div id="YMapsID"></div>

<br>

<div class="toast" id="myToast" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Упс</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Сперва авторизуйся.</div>
  </div>
</div>

<div class="toast" id="myToast2" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Упс</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Такой пользователь уже существует.</div>
  </div>
</div>

<div class="toast" id="myToast3" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Упс</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Проверьте логин и пароль.</div>
  </div>
</div>