body{background-color:#fff !important;}
.text-white{color:#fff;text-shadow:1px 1px 1px #000;}
h3.h3{text-align:center;padding:1.5em 0em 2em 0em;text-transform:capitalize;font-size:1.5em;}
.container-fluid{padding:2em 0em 4em 0em;background: linear-gradient(to right,#7474bf,#348ac7);}
.container{padding:2em 0em 5em 0em;}
.bg-1{background: linear-gradient(to right,#7b4379,#dc2430);}
.bg-2{background:#ABAD5D;}
.bg-3{background:#1ABC9C;}
/********************  Preloader Demo-3 *******************/
.preloader3{height:80px;width:80px;margin:20px auto 0;position:relative}
.preloader3:after,.preloader3:before{content:'';height:100%;width:100%;border:9px solid #fff;border-color:transparent #fff;position:absolute;left:0;top:0;animation:spin 2.2s linear 0s infinite normal}
.preloader3:after{width:50%;height:50%;margin:auto;border-style:dotted;border-radius:50px;left:0;top:0;bottom:0;right:0;animation:spinback 1.5s linear 0s infinite normal}
@keyframes spin{
    from{transform:rotate(0)}
    to{transform:rotate(360deg)}
}
@keyframes spinback{
    from{transform:rotate(0)}
    to{transform:rotate(-360deg)}
}