
<div style="margin-top: 5px; margin-left: 10px;">
  <div class="left">
    Нажмите на нужную строчку для удаления или изменения. Опция:
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="updateRadio" value="update">
      <label class="form-check-label" for="updateRadio">Изменить</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="deleteRadio" value="delete" checked>
      <label class="form-check-label" for="deleteRadio">Удалить</label>
    </div>
  </div>
  <div class="right">
    Пользователь: {{ userInSystem }}. 
    <button type="button" class="btn btn-secondary" (click) = "logExit()" data-toggle="modal"> Выход </button>
  </div>
  <button type="button" class="btn btn-info" (click) = "clearData()" data-toggle="modal" data-target="#addModal" style="margin-left: 55%;"> Добавить </button>
</div>

<div style="margin-top: 10px;"></div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить марку, модель авто</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">Марка:</label>
            <input type="text" [(ngModel)] = "marka" [ngModelOptions]="{standalone: true}" class="form-control" maxlength="25">
          </div>
          <div class="form-group">
              <label class="col-form-label">Модель:</label>
              <input type="text" [(ngModel)] = "model" [ngModelOptions]="{standalone: true}" class="form-control" maxlength="25">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" (click) = "addTypeAuto()">Добавить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Изменить марку, модель авто</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">№ записи:</label>
            <label class="col-form-label">{{ id_typeAuto }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Марка:</label>
            <input type="text" [(ngModel)] = "marka" [ngModelOptions]="{standalone: true}" class="form-control" maxlength="25">
          </div>
          <div class="form-group">
            <label class="col-form-label">Модель:</label>
            <input type="text" [(ngModel)] = "model" [ngModelOptions]="{standalone: true}" class="form-control" maxlength="25">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" (click) = "updateTypeAuto()">Изменить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить марку, модель авто</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">№ записи:</label>
            <label class="col-form-label">{{ id_typeAuto }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Марка:</label>
            <label class="col-form-label">{{ marka }}</label>
          </div>
          <div class="form-group">
              <label class="col-form-label">Модель:</label>
              <label class="col-form-label">{{ model }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" (click) = "deleteTypeAuto()">Удалить</button>
      </div>
    </div>
  </div>
</div>

<table id='datatable' datatable [dtOptions]="dtOptions" class="row-border hover" style="word-break: break-all;"></table>