
<br>

<form style="max-width: 90%; margin-left: 5%;">

  <div class="form-group">
    <label for="textarea1">В чем заключается просьба</label>
    <textarea class="form-control" rows="3" maxlength="250" [(ngModel)] = "aim" [ngModelOptions]="{standalone: true}"></textarea>
  </div>

  <div class="form-group">
    <label for="input1">Место</label>
    <input type="text" class="form-control" placeholder="Минск, проспект Независимости 103, подъезд 2" maxlength="250" [(ngModel)] = "place" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="date-input1">Актуальная дата</label>
    <input class="form-control" type="date" value={{zakazDate}} [(ngModel)] = "zakazDate" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="time-input1">Актуальное время</label>
    <input class="form-control" type="time" [(ngModel)] = "zakazTime" [ngModelOptions]="{standalone: true}">
  </div>
    
  <div class="form-group">
    <label for="input2">Вознаграждение</label>
    <input type="text" class="form-control" placeholder="Сок яблочный / 2 рубля / огромное спасибо / поход в кино" maxlength="250" [(ngModel)] = "price" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
      <label for="input3">Статус</label> <br>
    <div class="form-check form-check-inline" style="margin-left: 2%">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="greenRadio" value="green" checked>
      <label class="form-check-label" for="greenRadio" style="color:green;">Не к спеху</label>
    </div>
    <br>
    <div class="form-check form-check-inline" style="margin-left: 2%">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="orangeRadio" value="orange">
      <label class="form-check-label" for="orangeRadio"style="color:orange;">В томном ожидании</label>
    </div>
    <br>
    <div class="form-check form-check-inline" style="margin-left: 2%">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="redRadio" value="red">
      <label class="form-check-label" for="redRadio" style="color:red;">Очень, очень надо</label>
    </div>
  </div>

  <br>

  <div class="right">
    <button type="submit" class="btn btn-primary" (click) = "postIt()">Отправить</button>
  </div>

</form>

<br>

<div class="toast" id="myToast2" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Упс</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Такой пользователь уже существует.</div>
  </div>
</div>

<div class="toast" id="myToast3" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Упс</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Проверьте логин и пароль.</div>
  </div>
</div>

<div class="toast" id="myToast4" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Все хорошо</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Ваша заявка принята.</div>
  </div>
</div>

<div class="toast" id="myToast5" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Что-то пошло не так</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Разработчик накосячил. =( </div>
  </div>
</div>