
        <div class="top">
            <div class="right">
              <button type="button" class="btn btn-secondary" (click) = "logExit()" data-toggle="modal"> Выход </button>
            </div>
            <button type="button" class="btn btn-danger" (click) = "deleteProfile()" data-toggle="modal"> Удалить профиль </button>
          </div>

<div class="row" style="margin-left:20px; margin-top: 35px; max-width: 1300px;">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Настройки профиля</a>
      <a class="list-group-item list-group-item-action" id="list-zakaz-list" data-toggle="list" href="#list-zakaz" role="tab" aria-controls="zakaz">Мои заявки</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

        <div class="media">
          <img src="../../assets/simon.gif" class="mr-3" alt="..." style="max-height: 100px; max-height: 100px;">
          <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
          </div>
        </div>

        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile1" aria-describedby="inputGroupFileAddon04">
            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
          </div>
        </div>

      </div>


      <div class="tab-pane fade" id="list-zakaz" role="tabpanel" aria-labelledby="list-zakaz-list">

        <table id='datatable' datatable [dtOptions]="dtOptions" class="row-border hover" style="word-break: break-all;"></table>

      </div>
    </div>
  </div>
</div>






<div class="toast" id="myToast2" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Упс</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Такой пользователь уже существует.</div>
  </div>
</div>

<div class="toast" id="myToast3" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 70px; left: 20px;">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Упс</strong>
    <small>Close</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Проверьте логин и пароль.</div>
  </div>
</div>