
<div style="margin-top: 5px; margin-left: 10px;">
  <div class="left">
    Нажмите на нужную строчку для удаления или изменения. Опция:
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="updateRadio" value="update">
      <label class="form-check-label" for="updateRadio">Изменить</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="deleteRadio" value="delete" checked>
      <label class="form-check-label" for="deleteRadio">Удалить</label>
    </div>
  </div>
  <div class="right">
    Пользователь: {{ userInSystem }}. 
    <button type="button" class="btn btn-secondary" (click) = "logExit()" data-toggle="modal"> Выход </button>
  </div>
  <button type="button" class="btn btn-info" (click) = "clearData()" data-toggle="modal" data-target="#addModal" style="margin-left: 55%;"> Добавить </button>
</div>

<div style="margin-top: 10px;"></div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить двигатель</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">Объём:</label>
            <input type="text" [(ngModel)] = "obem" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
              <label class="col-form-label">Гарантия:</label>
              <input type="text" [(ngModel)] = "garantiya" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">Комментарии:</label>
            <input type="text" [(ngModel)] = "dopComment" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">Цена:</label>
            <input type="text" [(ngModel)] = "cena" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" (click) = "addDvigatel()">Добавить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Изменить двигатель</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">№ записи:</label>
            <label class="col-form-label">{{ id_dvigatel }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Объём:</label>
            <input type="text" [(ngModel)] = "obem" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">Гарантия:</label>
            <input type="text" [(ngModel)] = "garantiya" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">Комментарии:</label>
            <input type="text" [(ngModel)] = "dopComment" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-form-label">Цена:</label>
            <input type="text" [(ngModel)] = "cena" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" (click) = "updateDvigatel()">Изменить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить двигатель</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">; записи:</label>
            <label class="col-form-label">{{ id_dvigatel }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Объём:</label>
            <label class="col-form-label">{{ obem }}</label>
          </div>
          <div class="form-group">
              <label class="col-form-label">Гарантия:</label>
              <label class="col-form-label">{{ garantiya }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Комментарии:</label>
            <label class="col-form-label">{{ dopComment }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Цена:</label>
            <label class="col-form-label">{{ cena }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" (click) = "clearData()" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" (click) = "deleteDvigatel()">Удалить</button>
      </div>
    </div>
  </div>
</div>

<table id='datatable' datatable [dtOptions]="dtOptions" class="row-border hover" style="word-break: break-all;"></table>